* {
    box-sizing: border-box;
  }

body{
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}
    


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8f0f0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(8, 6, 6);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: aqua
  }

  .div {
    width: 200px;
    height: 15px;  
    padding: 50px;
    border: 2px solid #aaa;
    background-color: #aaa;
    margin-bottom: 50px;
   
  
   
  }
    
  .div1 {
    width: 600px;
    height: 110px;  
    padding: 50px;
    border: 2px solid #aaa;
    background-color: #aaa;
    margin-right: 200px;
   margin-left: 30px;
    text-align: center;
  }

  .div2 {
    width: 200px;
    height: 100px;  
    padding: 50px;
    border: 1px solid white;
    background-color: white;
    margin-bottom: 50px;
    margin: 20px;
   
  }

  .div3 {
    width: 180px;
    height: 200px;  
    padding: 50px;
    border: 2px solid #aaa;
    background-color: #aaa;
    margin-bottom: 50px;
    margin: 20px;
  
   
  }

 

  
  
  

  .leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 50px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

  p{
   font-weight: bold;
  }

  
  h1,h4{
    font-weight: bold;
  }

  

 